/*----------------
    RESET
-----------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*------------------
    TYPOGRAPHY
-------------------*/
body {
    font-family: 'Lato', sans-serif;
}
.list-inline a {
    font-size: 1.2rem;
}
#alert-icon {
    font-size: 1.2rem;
    color: #8edafc;
}

/*------------------
    COMMON
-------------------*/
body {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to top, #d5dbd8 85%, #009688 15%);
}
.page-container {
    display: flex;
    max-width: 80rem;
    width: 100%;
    height: calc(100% - 3rem);
    margin: auto;
    background-color: #fff;
}
.box-header {
    height: 4.375rem;
    padding: .625rem;
    background-color: #eaeaea;
}
.img-avatar {
    height: 100%;
    border-radius: 50%;
}
.user-nav {
    display: flex;
    color: #b1b1b1;
}
.list-inline {
    display: flex;
    list-style: none;
}
.list-inline li {
    margin-right: 1rem;
}
.list-inline a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}

/*------------------
    ASIDE
-------------------*/
aside {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    border-right: 1px solid #d6d6d6;
}
.user-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-chats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner {
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: .9375rem 1.25rem;
}
.box-alert-icon {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    background-color: #f2fbff;
    line-height: 3.125rem;
    text-align: center;
}
.banner-text {
    margin-left: .625rem;
}
.banner-text__link {
    color: #4f7485;
}
.search-bar {
    display: flex;
    height: 2.1875rem;
    margin: .4375rem;
}
.search-bar__icon {
    width: 13%;
    line-height: 2.1875rem;
    text-align: center;
    border: 1px solid #f5f5f5;
    border-right: none;
    color: #b1b1b1;
}
.search-bar__input {
    flex-grow: 1;
    line-height: 2.1875rem;
    padding-left: .625rem;
    border: 1px solid #f5f5f5;
}
/*------------------
    MAIN
-------------------*/
main {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}
.chat-container {
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
}
.footer-current-chat {
    height: 4.375rem;
    background-color: #f3eeea;
}